//tablet version mobile queries
@media screen and (max-width: 992px) and (min-width: 768px) {

}

//mobile version media wueries
@media screen and (min-width: 320px) and (max-width: 768px) {
  main section.hero-banner .section-wrapper-title {
    font-size: 28px;
  }
  main section.hero-banner .section-wrapper-number h3 {
    font-size: 53px;
  }
  .section-wrapper-par {
    font-size: 14px;
  }
  .section-wrapper h2 {
    font-size: 26px;
  }
  main section.pro-design h1 {
    font-size: 26px;
  }
  main section.cutest-animation h2 {
    font-size: 26px;
  }
  main section.cutest-animation .find-design ul {
    flex-direction: column;
    align-items: center;
  }
  main section.cutest-animation .find-design ul li h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  main section.turn-your-idea h2 {
    text-align: center;
  }
  main section.turn-your-idea p {
    text-align: center;
  }
  main section.turn-your-idea h2:after {
    left: 50%;
  }
  main section.turn-your-idea h2, main section.turn-your-idea p {
    margin-top: 30px;
  }
  .turn-your-idea-wrapper {
    text-align: center;
  }
  main section.common-blue-bg .best-software-company-wrapper h1 {
    font-size: 26px;
  }
  main section.common-blue-bg .best-software-company-wrapper ul {
    flex-direction: column;
  }
  main section.common-blue-bg .best-software-company-wrapper li {
    margin-bottom: 20px;
  }
  main section.common-blue-bg .do-our-best-box h2:after {
    left: 50%;
  }
  main section.common-blue-bg .do-our-best-box h2 {
    text-align: center;
  }
  main section.common-blue-bg .do-our-best-box p {
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  main section.youTubers-love-us-wrapper .youtube-videos {
    margin: 0 auto;
  }
  main section.youTubers-love-us-wrapper .slider-wrapper {
    display: none;
  }
  main section.youTubers-love-us-wrapper .slider-wrapper-title {
    display: none;
  }
  form, header.header_area .navbar-nav .nav-item a.button {
    flex-direction: column;
  }
  .group-input-flex {
    flex-direction: column;
  }
  .group-input-flex .input-group-prepend button {
    height: unset;
  }
  .group-input-flex input {
    width: unset;
  }
  footer.footer-area .footer-items {
    flex-direction: column;
    text-align: center;
  }
  footer.footer-area .copyright .flex-container {
    flex-direction: column;
  }
  footer.footer-area .copyright .flex-container ul li {
    margin: 10px;
  }
  main section.youTubers-love-us-wrapper h2 {
    z-index: 9999999;
  }
  main section.turn-your-idea h2:after {
    transform: translate(1);
  }
}

//large device media queries
@media screen and (max-width: 1300px) {
  main section.common-blue-bg .best-software-company-wrapper ul {
    width: 100%;
  }
  img {
    height: auto;
  }
  .play img {
    height: 100%;
  }
  main section.illustrationBg {
    height: auto;
  }
  main section.youTubers-love-us-wrapper .youtube-videos {
    height: auto;
  }
}
@media screen and (max-width: 1000px){
  main section.hero-banner-video-area .video-wrapper {
    width: 78%;
  }
  main section.youTubers-love-us-wrapper .youtube-videos .play {
    width: 18%;
  }
}
@media screen and (max-width: 992px) {
  main section.pro-design .padding {
    padding: 130px 135px 0 30px;
  }
}
@media screen and (min-width: 1281px){
  main section.illustrationBg img {
    -o-object-fit: contain;
    object-fit: cover;
  }
  main section.hero-banner-video-area {
    background-size: cover;
    padding-bottom: 354px;
  }
  main section.common-blue-bg .union-line {
    background: url(../../assets/images/union.svg) 0 0 no-repeat padding-box;
    height: 371px;
    background-size: cover;
  }
}