/*Fonts*/

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../../fonts/montserrat/Montserrat-Black.otf");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../../fonts/montserrat/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../fonts/montserrat/Montserrat-Regular.otf");
}