* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  @include titleStyle()
}

h2 {
  @include subtitleStyle()
}

p{
  @include paragraphStyles()
}
