.owl-dots{
  text-align: center;
  margin-top: 53px;

  button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #CFE0FF 0% 0% no-repeat padding-box !important;
    margin: 0 10px;

    &.active{
      background: #3379FF 0% 0% no-repeat padding-box !important;
    }

    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
}