input {
  height: 40px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #DEE3F0;
  border-radius: 30px;
  opacity: 1;
  padding: 11px 19px;

  &::-webkit-input-placeholder {
    text-align: $left;
    color: #7683A8;
    font-size: $footerSubTitleFontSize;
    font-family: $parFontFamily;
  }
}

.form-group {
  margin: 0 20px;

}

.group-input-flex {
  display: flex;
  align-items: center;
  height: 40px;
  width: 38%;

  input{
    width: 380px;
    height: 100%;
  }
  .input-group {

    &-prepend {
      height: 100%;
      margin-left: -50px;

      button {
        @include buttonStyle();
        height: 100%;
        width: 130px;
      }
    }
  }
}