main {
  section {
    &.hero-banner {
      background: transparent linear-gradient(180deg, #F6FAFF 0%, $white 100%) 0 0 no-repeat padding-box;
      width: 100%;

      .section-wrapper {
        width: calcSectionWrapperContent($contentSize, $sectionWrapperWidth);
        margin: 0 auto;

        &-title {
          padding: 60px 0 10.5px;
          color: $black-500;
        }

        &-number {
          position: relative;
          h3 {
            font-size: 70px;
            color: $blue;
            @include fontStyles;
            padding-bottom: 10px;
          }
          .crown {
            position: absolute;
            top: 0;
            left: 25.6%;
          }
        }

        &-description {
          font-size: 18px;
          @include fontStyles();
          font-family: $subTitleFontFamily;
          color: #ffffff;
        }

      }

      &-video-area {
        background-image: url(../../assets/images/bg.png);
        margin-top: -18px;
        padding-bottom: 46px;
        background-repeat: no-repeat;
        background-size: contain;

        .video-wrapper {
          width: 783px;
          height: 418px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 auto;

          &-play {
            width: 83px;
            height: 58px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
          }
        }
      }
    }

    &.pro-design {

      h1 {
        text-align: $left;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;

        @include afterStyle();

        &:after {
          background: $green 0 0 no-repeat padding-box;
          left: 0;
          transform: translate(0, 0);
        }
      }
      p {
        text-align: left;
      }
      .padding {
        padding: 130px 135px 0 0;
      }
    }

    &.cutest-animation {
      margin: 75px 0 0;
      padding-bottom: 43px;
      background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6FAFF 16%, #F6FAFF 89%, #F6FAFF 100%) 0% 0% no-repeat padding-box;

      h2 {
        width: 53.3%;
        position: relative;
        color: $black-400;
        padding-bottom: 30px;
        margin: 0 auto 30px;

        @include afterStyle();

        &:after {
          background: #F37C6A 0 0 no-repeat padding-box;
        }
      }

      .center{
        width: 120%;
        overflow: hidden;
        margin-left: -9%;
      }

      .find-design {
        padding-top: 45px;
        ul {
          display: flex;
          justify-content: space-between;
          width: 100%;

          li {
            width: 20%;

            div {
              width: 107px;
              height: 107px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              box-shadow: 0 3px 15px #7169DD33;
              padding: 23px;
              margin: 0 auto 30px;

              &.favorite-design-tools {
                &-1 {
                  background: transparent linear-gradient(180deg, #938BFF 0%, #7169DD 100%) 0% 0% no-repeat padding-box;
                }
                &-2 {
                  background: transparent linear-gradient(180deg, #4FCEFF 0%, #00ADF0 100%) 0% 0% no-repeat padding-box;
                }
                &-3 {
                  background: transparent linear-gradient(180deg, #E79E00 0%, #F37C6A 100%) 0% 0% no-repeat padding-box;
                }
                &-4 {
                  background: transparent linear-gradient(180deg, #6BEB88 0%, #4FDC6F 100%) 0% 0% no-repeat padding-box;
                }
                &-5 {
                  background: transparent linear-gradient(180deg, #5690FF 0%, #1C6AFD 100%) 0% 0% no-repeat padding-box;
                }
              }
            }

            h4 {
              text-align: $center;
              font-family: $listFontFamily;
              letter-spacing: -0.04px;
              color: $black-400;
              width: 50%;
              margin: 0 auto;
            }
          }
        }

        h2 {
          width: 71.9%;

          &:after {
            background: #4FCEFF 0 0 no-repeat padding-box;
          }
        }
        p {
          width: 80.6%;
          margin: 0 auto 30px;

        }
      }
    }

    &.turn-your-idea {
      padding: 159px 0 108px;

      h2 {
        color: $purple;
        text-align: $left;
        padding-bottom: 30px;
        margin: 0 auto 30px;

        @include afterStyle();

        &:after {
          background: $green 0 0 no-repeat padding-box;
          left: 17px;
          transform: translate(0, 0);
        }
      }

      p {
        padding-bottom: 30px;
        text-align: $left;
      }

      button {
        width: 235px;
        height: 60px;
        background: transparent linear-gradient(180deg, #FFA330 0%, #F07379 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0 3px 9px #F37C6C80;
        border-radius: 30px;
        opacity: 1;
        font-size: $buttonFontSize;
        color: $white;
      }

      .reverse {
        padding-top: 174px;

        h2 {
          &:after {
            background: $blue 0 0 no-repeat padding-box;
          }
        }
      }
    }

    &.common-blue-bg {
      background: transparent linear-gradient(180deg, #F5FAFE 0%, #F5FAFE08 100%) 0% 0% no-repeat padding-box;
      padding-bottom: 61px;

      .best-software-company-wrapper {
        position: relative;
        background: $blue;
        padding-top: 100px;

        h1 {
          width: 90%;
          position: relative;
          color: $white;
          margin: 0 auto 30px;
          padding-bottom: 30px;

          @include afterStyle();
          &:after {
            background: #4FCEFF;
          }
        }
        p {
          color: white;
          width: 54%;
          margin: 0 auto 65px;
        }
        ul {
          width: 75.1%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;

          li {
            a {
              width: 240px;
              height: 90px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $white 0 0 no-repeat padding-box;
              box-shadow: 0 6px 12px #0052E01A;
              box-sizing: border-box;
              border-radius: 10px;
              padding: 0 30px;

              img {
                width: 150px;
                height: unset;
                object-fit: cover;
              }
            }
          }
        }

        .positioned-img {
          position: absolute;
          top: 27%;
          left: 1%;
        }
      }

      .union-line {
        background: url("../../assets/images/union.svg") 0 0 no-repeat padding-box;
        height: 371px;
      }

      .do-our-best {

        .contact-us-board {
          position: relative;

          &-wrapper {
            position: absolute;
            top: 40%;
            left: 50%;
            width: 226px;
            text-align: center;
            transform: translate(-50%, -50%);

            h4 {
              color: #363F5A;
              line-height: 1.6;
            }

            p.flex-line {
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 26px auto 12px;

              span {
                display: block;
                width: 48px;
                border: 1px solid #CFE0FF;
              }
            }

            a {
              display: block;
              color: $blue;
              text-decoration: none;
            }

            button {
              @include buttonStyle();
              width: 92px;
              height: 31px;
              font-size: 13px;
              display: inline-block;
            }
          }
        }
        &-box {
          padding-top: 25%;

          h2 {
            text-align: left;
            padding-bottom: 30px;
            margin: 0 auto 30px;

            @include afterStyle();

            &:after {
              background: $green 0 0 no-repeat padding-box;
              left: 17px;
              transform: translate(0, 0);
            }
          }
          p {
            text-align: left;
          }
        }

        .lots-of-benefits {
          padding-top: 140px;

          h2 {
            color: $purple;
            padding-bottom: 30px;
            margin: 0 auto 30px;
            position: relative;

            @include afterStyle();
            &:after {
              background: $lightBlue;
            }
          }
        }
      }
    }

    &.lots-of-benefits-wrapper {
      width: 80%;
      margin: 0 auto;
    }

    &.youTubers-love-us-wrapper {
      background: transparent linear-gradient(180deg, #F5FAFE00 0%, #F5FAFE 14%, #EEF5FF 100%) 0% 0% no-repeat padding-box;
      padding-top: 192px;
      position: relative;

      .positioned-img {
        position: absolute;
        top: 0;
        left: 0;
      }

      h2 {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 44px;

        @include afterStyle();

        &:after {
          background: #F37C6A;
        }
      }

      .youtube-videos {
        width: 378px;
        height: 202px;
        border-radius: 15px;
        opacity: 1;
        position: relative;

        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }

      .slider-wrapper {
        padding-bottom: 148px;

        &-title {
          padding-top: 164px;
        }

        .user-wrapper {
          width: 72.1%;
          min-height: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background: #FFFFFF 0 0 no-repeat padding-box;
          box-shadow: 0 6px 12px #0052E01A;
          border-radius: 10px;
          opacity: 1;
          padding: 62px 51px 50px 64px;
          margin: 0 auto;

          &-image-and-info {
            padding-right: 94px;

            img {
              width: 145px;
              height: 145px;
              border-radius: 50%;
              margin-bottom: 34px;
            }
            .user-info {
              h3 {
                font-size: $listFontSize;
                font-family: $titleFontFamily;
                text-align: center;
                letter-spacing: 0;
                color: #3379FF;
              }
              h4 {
                font-family: $parFontFamily;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0;
                color: $black-400;
              }
            }
          }

          &-comment {
            p {
              text-align: left;
            }
          }

          .positioned-bottom-img {
            position: absolute;
            right: 0;
            bottom: -17%;
            z-index: 99999;

            img{
              width: 141px;
              height: 115px;
            }
          }
        }
      }
    }

    &.illustrationBg {
      height: 453px;

      img {
        object-fit: contain;
      }
    }

  }
}

