footer {
  background: $blue;

  &.footer-area {
    padding: 70px 0 62px;
    h2 {
      width: 65%;
      font-size: $footerTitleFontSize;
      color: white;
      margin: 0 auto;
    }
    p {
      position: relative;
      font-size: $footerSubTitleFontSize;
      color: $white;
      margin: 20px 0 59px;
      padding-bottom: 15px;
      @include afterStyle();

      &:after {
        background: $green;
        margin-bottom: 38px;

      }
    }
    .footer-items {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 64px;

      li {
        a {
          text-align: $left;
          color: $white;
          font-size: 14px;
          font-family: 'Montserrat-Regular';
          text-decoration: none;
          line-height: 2;
        }
      }
    }

    .copyright{
      padding-top: 50px;

      .flex-container {
        justify-content: space-between;

        .flex-item{
          h6{
            color: $white;
            font-size: 14px;
            font-family: $parFontFamily;
          }
        }
        ul {
          display: flex;
          li{
            margin-right: 27.5px;
            a{
              img{
                width: auto;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}