header {
  &.header_area {
    width: 100%;
    height: 70px;
    padding: 12px 22px;

    .navbar {
      @include resetMarPad();
      height: 100%;

      &-brand {
        @include resetMarPad();
        img {
          width: 200px;
          height: 45px;
        }
      }

      &-nav {
        .nav-item {
          display: flex;
          align-items: center;
          padding-left: 48px;

          a {
            padding: 0;

            &.button {
              width: 113px;
              height: 40px;
              background: transparent linear-gradient(180deg, $blue-300 0%, $blue 100%) 0% 0% no-repeat padding-box;
              box-shadow: 0 3px 9px #387DFF80;
              border-radius: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              color: $white;
            }
          }
        }
      }
    }
  }
}