@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@mixin fontStyles {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: $center;
}

@mixin titleStyle() {
  font-family: $titleFontFamily;
  color: $blue;
  @include fontStyles();
  @include fontSize($titleFontSizeLarge)
}

@mixin subtitleStyle() {
  font-family: $subTitleFontFamily;
  color: $blue;
  @include fontStyles();
  @include fontSize($titleFontSizeMiddle);
}

@mixin paragraphStyles() {
  font-family: $parFontFamily;
  color: $black-300;
  @include fontStyles();
  font-size: $parSize
}

@mixin buttonStyle() {
  width: 235px;
  height: 60px;
  background: transparent linear-gradient(180deg, #FFA330 0%, #F07379 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 9px #F37C6C80;
  border-radius: 30px;
  color: $white;
  font-size: $buttonFontSize;
  text-transform: uppercase;
}

@mixin afterStyle() {
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 50px;
      height: 6px;
      opacity: 1;
      margin: 30px 0;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

@mixin flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

@mixin resetMarPad {
  margin: 0;
  padding: 0;
}