$grid-columns: 12;
$grid-gutter: 10px;
$grid-breakpoint: 48em;

$maxContainerSize: 1920px;
$container: 1600px;

//tab
$tabContainerSize: 992px;
$tabContentSize: 960px;

//mobile
$mobContainerSize: 768px;
$mobContentSize: 740px;

$mainContainerSize: 1440px;
$contentSize: 1140px;

$sectionWrapperWidth: 738px;
$sectionMidWrapperWidth: 465px;

//font size
$titleFontSizeLarge: 35px;
$titleFontSizeMiddle: 32px;
$parSize: 16px;
$listFontSize: 18px;
$buttonFontSize: $listFontSize;
$footerTitleFontSize: 20px;
$footerSubTitleFontSize: 14px;
$inputPlaceholderFS: $footerSubTitleFontSize;

$mobileTitleSize: 30px;
$titleMobileSize: 15px;

//font family
$titleFontFamily: 'Montserrat-Bold';
$subTitleFontFamily: $titleFontFamily;
$parFontFamily: 'Montserrat-Medium';
$listFontFamily: 'Montserrat-SemiBold';

//colors
$blue: #387DFF;
$blue-300: #5690ff;
$lightBlue: #4FCEFF;
$black: black;
$color: $black;
$black-300: #363F5A;
$black-400: #545F7E;
$black-500: #252E48;
$purple: #766DE8;
$orange: #E79E00;
$green: #4FDC6F;
$white: white;


//text-align
$center: center;
$left: left;
